img{
	border-style: solid;
	border-color: #1E5E56;


}
h1{
	font-family: Alice;
}
ul{
	font-family: Tahoma;
}
body{
	margin-left: 50px;
	margin-top: 25px;
}
.Div2{
	background-color:#80C7BD;
	padding: 2px 12px 2px;
}
.Div1{
	background-color:#E5E088;
	padding:10px 50px 10px;
}
